
#stats-container {
    background-color: #b9a0f9;

}
#bars {
    position: absolute;
    background-color: white;
    left: 900px;
    bottom: 0;
    color: #6312ff;
}

#chart {
    background-color: grey;
    text-anchor: end;
}
