body {
	margin: 0;
	overflow: hidden;
	position: relative;
}

#app-container {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#title {
	position: relative;
	top: 20px;
	left: 20px;
	font-size:64px;
	font-weight: bold;
	color: #6312ff;
	z-index: 10;
}
#controls {
	position: relative;
	top: 80px;
	left: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	border-right: 2px solid cyan;
	z-index: 16;
}
#stats-container {
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
	background-color: black;
	color: white;
	padding: 20px;
	box-sizing: border-box;
	z-index: 10;
	height: 100vh;
}
.color-btn {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	background-color: black;
	border: 2px solid cyan;
	color: white;
	text-align: center;
	cursor: pointer;
}
.switch-btn {
	display: block;
	margin: 10px 0;
	padding: 5px;
	border: 2px solid cyan;
	cursor: pointer;
	color: white;
	background-color: black;
	text-align: center;
}
.stats-box {
	margin: 20px 0;
}
.stats-box {
	display: block;
	margin: 20px 0;
	font-size: 16px;
}
